@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif
}
img{
    width: 100px;
    height: auto;
    
}
.container{
    background-color: white;
}
.shopping{
    color: black;
    font-weight: 800;
    font-size: 30px;
}
.products{
    color: black;
}
.btn-container{
    color: black;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;

}
.btn-goback{
    color: white;
    background-color: rgb(109, 67, 16);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-goback:hover{
    background: grey;
}
.btn-continue{
    color: white;
    background-color: rgb(109, 67, 16);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-continue:hover{
    background: grey;
}
.links button{
    color: white;
    background-color: rgb(14, 8, 1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
   
}