body{
    background-color: rgb(206, 198, 188);
    font-family: 'Montserrat', sans-serif
}
img{
    width: 100px;
    height: auto;
    
}
.container{
    background-color: rgb(196, 185, 170);
}